<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li<%= sidebar_current("docs-vcfa-index") %>>
          <a href="/docs/providers/vcfa/index.html">VMware Cloud Foundation Automation Provider</a>
        </li>

        <li<%= sidebar_current("docs-vcfa-guides") %>>
          <a href="#">Guides</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vcfa-guides-deleteme") %>>
              <a href="/docs/providers/vcfa/guides/deleteme.html">vcfa_placeholder</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-vcfa-data-source") %>>
          <a href="#">Data Sources</a>
          <ul class="nav">
            <li<%= sidebar_current("docs-vcfa-data-source-tm-version") %>>
              <a href="/docs/providers/vcfa/d/tm_version.html">vcfa_tm_version</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-vcenter") %>>
              <a href="/docs/providers/vcfa/d/vcenter.html">vcfa_vcenter</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-nsx-manager") %>>
              <a href="/docs/providers/vcfa/d/nsx_manager.html">vcfa_nsx_manager</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org") %>>
              <a href="/docs/providers/vcfa/d/org.html">vcfa_org</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org-region-quota") %>>
              <a href="/docs/providers/vcfa/d/org_region_quota.html">vcfa_org_region_quota</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-region") %>>
              <a href="/docs/providers/vcfa/d/region.html">vcfa_region</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-region-zone") %>>
              <a href="/docs/providers/vcfa/d/region_zone.html">vcfa_region_zone</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-region-vm-class") %>>
              <a href="/docs/providers/vcfa/d/region_vm_class.html">vcfa_region_vm_class</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-supervisor") %>>
              <a href="/docs/providers/vcfa/d/supervisor.html">vcfa_supervisor</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-supervisor-zone") %>>
              <a href="/docs/providers/vcfa/d/supervisor_zone.html">vcfa_supervisor_zone</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-region-storage-policy") %>>
              <a href="/docs/providers/vcfa/d/region_storage_policy.html">vcfa_region_storage_policy</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-storage-class") %>>
              <a href="/docs/providers/vcfa/d/storage_class.html">vcfa_storage_class</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-content-library") %>>
              <a href="/docs/providers/vcfa/d/content_library.html">vcfa_content_library</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-content-library-item") %>>
              <a href="/docs/providers/vcfa/d/content_library_item.html">vcfa_content_library_item</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-ip-space") %>>
              <a href="/docs/providers/vcfa/d/ip_space.html">vcfa_ip_space</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-tier0-gateway") %>>
              <a href="/docs/providers/vcfa/d/tier0_gateway.html">vcfa_tier0_gateway</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-provider-gateway") %>>
              <a href="/docs/providers/vcfa/d/provider_gateway.html">vcfa_provider_gateway</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-edge-cluster") %>>
              <a href="/docs/providers/vcfa/d/edge_cluster.html">vcfa_edge_cluster</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-edge-cluster-qos") %>>
              <a href="/docs/providers/vcfa/d/edge_cluster_qos.html">vcfa_edge_cluster_qos</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org-oidc") %>>
              <a href="/docs/providers/vcfa/d/org_oidc.html">vcfa_org_oidc</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org-networking") %>>
              <a href="/docs/providers/vcfa/d/org_networking.html">vcfa_org_networking</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org-settings") %>>
              <a href="/docs/providers/vcfa/d/org_settings.html">vcfa_org_settings</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org-regional-networking") %>>
              <a href="/docs/providers/vcfa/d/org_regional_networking.html">vcfa_org_regional_networking</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org-regional-networking-vpc-qos") %>>
              <a href="/docs/providers/vcfa/d/org_regional_networking_vpc_qos.html">vcfa_org_regional_networking_vpc_qos</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-right") %>>
              <a href="/docs/providers/vcfa/d/right.html">vcfa_right</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-rights-bundle") %>>
              <a href="/docs/providers/vcfa/d/rights_bundle.html">vcfa_rights_bundle</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-role") %>>
              <a href="/docs/providers/vcfa/d/role.html">vcfa_role</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-global-role") %>>
              <a href="/docs/providers/vcfa/d/global_role.html">vcfa_global_role</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-certificate") %>>
              <a href="/docs/providers/vcfa/d/certificate.html">vcfa_certificate</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org-local-user") %>>
              <a href="/docs/providers/vcfa/d/org_local_user.html">vcfa_org_local_user</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-org-ldap") %>>
              <a href="/docs/providers/vcfa/d/org_ldap.html">vcfa_org_ldap</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-provider-ldap") %>>
              <a href="/docs/providers/vcfa/d/provider_ldap.html">vcfa_provider_ldap</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-supervisor-namespace") %>>
              <a href="/docs/providers/vcfa/d/supervisor_namespace.html">vcfa_supervisor_namespace</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-data-source-kubeconfig") %>>
              <a href="/docs/providers/vcfa/d/kubeconfig.html">vcfa_kubeconfig</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-vcfa-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vcfa-resource-vcenter") %>>
              <a href="/docs/providers/vcfa/r/vcenter.html">vcfa_vcenter</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-nsx-manager") %>>
              <a href="/docs/providers/vcfa/r/nsx_manager.html">vcfa_nsx_manager</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org") %>>
              <a href="/docs/providers/vcfa/r/org.html">vcfa_org</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org-region-quota") %>>
              <a href="/docs/providers/vcfa/r/org_region_quota.html">vcfa_org_region_quota</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-region") %>>
              <a href="/docs/providers/vcfa/r/region.html">vcfa_region</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-content-library") %>>
              <a href="/docs/providers/vcfa/r/content_library.html">vcfa_content_library</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-content-library-item") %>>
              <a href="/docs/providers/vcfa/r/content_library_item.html">vcfa_content_library_item</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-ip-space") %>>
              <a href="/docs/providers/vcfa/r/ip_space.html">vcfa_ip_space</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-provider-gateway") %>>
              <a href="/docs/providers/vcfa/r/provider_gateway.html">vcfa_provider_gateway</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-edge-cluster-qos") %>>
              <a href="/docs/providers/vcfa/r/edge_cluster_qos.html">vcfa_edge_cluster_qos</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org-oidc") %>>
              <a href="/docs/providers/vcfa/r/org_oidc.html">vcfa_org_oidc</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org-networking") %>>
              <a href="/docs/providers/vcfa/r/org_networking.html">vcfa_org_networking</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org-settings") %>>
              <a href="/docs/providers/vcfa/r/org_settings.html">vcfa_org_settings</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org-regional-networking") %>>
              <a href="/docs/providers/vcfa/r/org_regional_networking.html">vcfa_org_regional_networking</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org-regional-networking-vpc-qos") %>>
              <a href="/docs/providers/vcfa/r/org_regional_networking_vpc_qos.html">vcfa_org_regional_networking_vpc_qos</a>
            </li>  
            <li<%= sidebar_current("docs-vcfa-resource-rights-bundle") %>>
              <a href="/docs/providers/vcfa/r/rights_bundle.html">vcfa_rights_bundle</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-role") %>>
              <a href="/docs/providers/vcfa/r/role.html">vcfa_role</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-global-role") %>>
              <a href="/docs/providers/vcfa/r/global_role.html">vcfa_global_role</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-api-token") %>>
              <a href="/docs/providers/vcfa/r/api_token.html">vcfa_api_token</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-certificate") %>>
              <a href="/docs/providers/vcfa/r/certificate.html">vcfa_certificate</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org-local-user") %>>
              <a href="/docs/providers/vcfa/r/org_local_user.html">vcfa_org_local_user</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-org-ldap") %>>
              <a href="/docs/providers/vcfa/r/org_ldap.html">vcfa_org_ldap</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-provider-ldap") %>>
              <a href="/docs/providers/vcfa/r/provider_ldap.html">vcfa_provider_ldap</a>
            </li>
            <li<%= sidebar_current("docs-vcfa-resource-supervisor-namespace") %>>
              <a href="/docs/providers/vcfa/r/supervisor_namespace.html">vcfa_supervisor_namespace</a>
            </li>
           </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
